@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color0: black;
    --color1: #D600F6;
    --color2: #B800D4;
    --color3: #DF00FF;
    --color4: #9B00B3;
    --color5: #7D0091;
    --color6: #60006F;

}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


main {
    width: 440px;
    height: 480px;
    background-color: #60006f48;
}

section {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 40px 0px;
    font-size: larger;
}

.input-login {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    
}
